body{
    margin: 0;
    padding: 0;
    /* display: flex; */
    /* flex-wrap: wrap; */
    background-color: #999999;
}
.logo{
    width: 4rem;
    height: 4rem;
    border:1px solid #000;
    border-radius: 50%;
    
    margin-left: 1rem;
}
.logo img{
    
    width: 4rem;
    height: 4rem;
    border:1px solid #000;
    border-radius: 50%;
}

.navbar span{
    color: #000;
    font-size: 1rem;
    font-weight: bold;
    padding-left: .5rem;
}

.navbar{
    height: 5rem;
    width: 100vw;
    border-bottom: 2px solid #000;
    display: flex;
    align-items: center;
}

.navbar-items{
    height: 3rem;
    width: 60%;
    
    display: flex;
    margin-left: 20%;
}

ul li {
    display: inline-block;
    list-style: none;
    padding-left: 3rem;
}
ul ~ li ,a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    
}
li a:hover{
    color: blue;
    font-weight: bold;
}
.contact{

    height: 18rem;
    width: 15rem;
    border: 2px solid #000;
    margin: auto;
    margin-top: 4rem;
    box-shadow: 0 0 .75rem #000;
    background-color: #909090;
    border-radius: 0 20% 0 20%;
    transition: all 0.5s ease-in-out 0.5ms;
}
.contact:hover{
    box-shadow: 0 0 1.25rem #000;
    border-radius: 20% 0 20% ;
}

.contact h4{
    text-align: center;
    color: #fff;
    
}
 .contact label{
    padding-left: 10px;
    color: #fff;
    font-weight: bold;
} 
.contact span{
    padding-left: 10px;
    color: #fff;
    font-weight: bold;
}
.contact button{
    margin-left: 25px;
    margin-top: 10px;
    background-color: #909090;
    color: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    
    
}
.contact input{
    border: none;
    border-radius: 10px;
    background-color:#909090;
    color:#000;
}
.btn02{
position: relative;
left: 3.5rem;
}
.contact textarea{
border:none;
    border-radius: 10px;
    background-color:#909090;
    color: #000;
}
.contact textarea:hover{
    border: 2px solid #000;
    background-color: ghostwhite;
}

input:hover{
 border: 2px solid #000;
 background-color:ghostwhite;
}
input:active{
    border: none;
}


    